# .gitignore para projeto Spring Boot (Java/Maven)

# Diretórios e arquivos de build
/target/
!.mvn/wrapper/maven-wrapper.jar

# Arquivos de log
test-output/
*.log


# Configurações de IDEs
# IntelliJ IDEA
/.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VSCode
.vscode/

# Sublime Text
*.sublime-workspace
*.sublime-project

# JetBrains Rider
.idea/
*.sln.iml

# Android Studio
.gradle/
.idea/
local.properties
.cxx/
*.apk
captures/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
*.env

# Outros
*.swp

# Maven
.mvn/timing.properties

# VSCode
.vscode/
