<!-- Página inicial da pizzaria -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Pizzaria</title> <!-- Título da aba do navegador -->
</head>

<body>
    <!-- Título principal -->
    <h1>FAÇA SEU PEDIDO</h1>
    <!-- Botão que leva ao cardápio -->
    <button id="cardapio" onclick="irParaCardapio()">Clique aqui</button>

    <script>
        // Função que redireciona para a página do cardápio
        function irParaCardapio() {
            window.location.href = `/cardapio?`;
        }
    </script>
</body>
</html>
